﻿
#newspaper-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #69c;
}
#newspaper-a th
{
	padding: 1px;
	font-weight: normal;
	font-size: 10px;
	color: #039;
	border-bottom: 1px dashed #69c;
}
#newspaper-a td
{
	padding: 2px;
	color: #669;
}
#newspaper-a tbody tr:hover td
{
	color: #339;
	background: #d0dafd;
}
    
    

.e:hover{
   background-color:#000;
}

.star
{
    
color:Red;
  display: inline;
  float: left;
  margin-bottom: 20px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;  
 
    }
    
    
    
    .download {
    padding: 120px 0;
    background-color: #fff;
    
    }

.download h1 {
    margin:25px;
    color:#0550ab;
    font-weight: 800;
    font-size: 40px;
}
.learn-btn, .download-btn {
    display: inline-block;
    padding: 18px 46px;
    border: 2px solid #fff;
    border-radius: 3px;
       color:#0550ab;
    font-size: 16px;
}
.learn-btn:hover, .download-btn:hover, .learn-btn:focus, .download-btn:focus {
    border-color: blue;
    color: blue;
    text-decoration: none;
}
.read-more-btn i, .download-btn i {
    margin-left: 5px
}
.showcase .download-btn {
    margin-top: 50px
}
.download .download-btn {
    margin-top: 25px
}

.learn-btn, .download-btn {
    display: inline-block;
    padding: 18px 46px;
    border: 2px solid #0550ab;
    border-radius: 3px;
    color:#0550ab;
    font-size: 30px;
}
