﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="dd_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Demo for get Indian date and time in  ASP.net - C#</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
   <h1>Demo for get Indian date and time in  ASP.net - C#</h1>
    </div>
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <p>
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Get Indian TIME" />
        </p>
    </form>
</body>
</html>
