﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="About.aspx.cs" Inherits="About" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
   
    <section id="courseArchive">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 col-sm-12">
                    <div class="courseArchive_content">
                        <div class="row">
                            <div class="col-lg-12 col-12 col-sm-12">
                                <div class="single_blog_archive wow fadeInUp">
                                    <br />
                                    <br />
                                    <h3 class="title_two" style="color: #056ee3">Convenience delivered to your door</h3>
                                    K-Palms (Dew Drinks) is one of the renowned organizations engaged in supplying and trading a top quality range of Packaged Drinking Water and Mineral Water Bottle. These products are exceedingly popular and greatly applauded in the market due to their quality, ideal packing, competitive prices and time delivery. The product range is prepared using the advanced technology of purify water. Moreover, we test these products on different quality factors prior to delivering them to our customers end.
 </br>
 </br>


 It's simple and easy. Enjoy great-tasting bottled water delivered directly to your home or Office
                                    <br />
                                    Our mission is to combine convenient and reliable delivery service, high quality equipment, and products at competitive prices to provide the very best value for our customers.

We believe in running our business the old fashioned way, by delivering quality products and services each and every time.  At Dew Drinks two things are very clear, our water and our commitment to service!

                                    <br />
                                    People have been enjoying the great taste of Dew Drinks bottled water.
Dew Drinks proudly provides great-tasting bottled water delivery service to the all over pune.
we are divided all pune in 18 areas. view map
                                    <a href="#" class="blog_img">
                                        <img src="img/DewDrinks PuneMap.jpg">
                                    </a>
                                    bottled water delivery to your home or office is easy and affordable.Dew Drinks provides a dedicated customer service team exclusive, which makes home and office bottled water delivery hassle-free.
Let us put together a bottled water program that fits your family's lifestyle or employee needs.
special discounts on water dispenser rental fees on monthly subscription.
Delivery is available every time any areas. Subscribe with confidence knowing there are no termination fees.

                                    <a href="#" class="blog_img">
                                        <img src="img/Dew Drinks water jars.png" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</asp:Content>

